<div class="container">
    <div class="doctor-interface-container mat-elevation-z2">
        <h2>Prescribe:</h2>
        <mat-form-field appearance="fill" class="select-field margin">
            <label for="patientSelect">Select Patient:</label>
            <mat-select id="patientSelect" [(ngModel)]="selectedPatient">
                <mat-option *ngFor="let patient of patients" [value]="patient.username">
                    {{ patient.username }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="input-container">
            <mat-form-field appearance="fill" class="select-field">
                <label for="medication">Medication:</label>
                <input matInput type="text" id="medication" [(ngModel)]="medication" />
            </mat-form-field>
        </div>
        <div class="input-container">
            <mat-form-field appearance="fill" class="select-field">
                <label for="dosage">Dosage:</label>
                <input matInput type="text" id="dosage" [(ngModel)]="dosage" />
            </mat-form-field>
        </div>

        <div class="input-container">
            <label for="time">Time to take medication:</label>
            <input type="time" id="time" [(ngModel)]="time" />
        </div>

        <div class="input-container">
            <mat-form-field appearance="fill" class="select-field">
                <label for="days">Take every:</label>
                <mat-select id="days" [(ngModel)]="days">
                    <mat-option [value]="[1, 2, 3, 4, 5, 6, 7]">day</mat-option>
                    <mat-option [value]="[2, 4, 6]">other day</mat-option>
                    <mat-option [value]="[3, 6]">3 days</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <button mat-raised-button class="btn-set-prescription" (click)="setPrescription()">Set Prescription</button>
    </div>

    <div class="prescription-table-card mat-elevation-z2">
        <h2>Prescriptions:</h2>
        <table class="prescription-table">
            <thead>
                <tr>
                    <th>Patient</th>
                    <th>Medication</th>
                    <th>Dosage</th>
                    <th>Time</th>
                    <th>Days</th>
                    <th>Delete entry</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prescription of prescriptions">
                    <td>{{ prescription.username }}</td>
                    <td>{{ prescription.medication }}</td>
                    <td>{{ prescription.dosage }}</td>
                    <td>{{ prescription.time }}</td>
                    <td>{{ prescription.days }}</td>
                    <td><button mat-raised-button (click)="deletePrescription(prescription._id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>