.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.profile-card {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 20px;
    overflow: hidden;
}

.list-heading {
    text-align: center;
}

.mat-elevation-z8 {
    margin-top: 20px;
}